.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  position: relative;
  margin-top: 32px;
}

.gallery-item {
  width: 300px;
  margin-bottom: 16px;
  text-align: center;
  border: 1px solid #808080;
    /* Додаємо сірий обвід до кожної картинки */
    box-sizing: border-box;
  }


.gallery-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  height: 200px;
}

.info {
  display: flex;
  margin-top: 8px;
  font-size: 14px;
  color: #555;
  margin-top: 8px;
  justify-content: space-between;

}

/*loader*/

.loader {
  display: block;
  position: relative;
  height: 32px;
  width: 200px;
  background: #fff;
  border: 2px solid #fff;
  color: red;
  overflow: hidden;
}

.loader::before {
  content: '';
  background: red;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  animation: loading 10s linear infinite;
}

.loader:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  color: rgb(0, 255, 255);
  mix-blend-mode: difference;
  animation: percentage 10s linear infinite;
}

@keyframes loading {
  0% {
    width: 0
  }

  100% {
    width: 100%
  }
}

@keyframes percentage {
  0% {
    content: "0%"
  }

  5% {
    content: "5%"
  }

  10% {
    content: "10%"
  }

  20% {
    content: "20%"
  }

  30% {
    content: "30%"
  }

  40% {
    content: "40%"
  }

  50% {
    content: "50%"
  }

  60% {
    content: "60%"
  }

  70% {
    content: "70%"
  }

  80% {
    content: "80%"
  }

  90% {
    content: "90%"
  }

  95% {
    content: "95%"
  }

  96% {
    content: "96%"
  }

  97% {
    content: "97%"
  }

  98% {
    content: "98%"
  }

  99% {
    content: "99%"
  }

  100% {
    content: "100%"
  }
}
/*loader end*/

header {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

#search-form {
  display: flex;
  align-items: center;
    gap: 8px;
}

#search-form input {
  width: 272px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #808080;
  padding-right: 16px;
  padding-left: 16px;
   
}

#search-form button {
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: #4e75ff;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 0 16px;
}

#search-form button:hover {
  background-color: #3a5dbf;
}

#search-form input,
#search-form button {
  font-family: "Montserrat", sans-serif;
}
